<h4>-----------text example-----------</h4>
    
    <h1>h1: his is {{name}}</h1>
    <h2>h2: Welcome to the Summary session.</h2>
    <h3>h3: Welcome to the Summary session.</h3>
    <h4>h4: Welcome to the Summary session.</h4>
    
    <h4>-----------paragraph example-----------</h4>

    <p>p: This is a paragraph.</p>
    
    <h4>-----------link example-----------</h4>

    <h4>Link: use a tag</h4>
    
    <a href="https://www.w3schools.com">Visit W3Schools</a>

    <!-- Write your comments here -->

    <h4>-----------image example-----------</h4>
    <img src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/review_gallery_carousel_slide_thumbnail_landscape/public/video-thumbnails/boss-baby-thumb.jpg?itok=DepNK5f6" alt="Italian Trulli">

    <h4>-----------Table example-----------</h4>
    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>